doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        link(rel='stylesheet', href='./FSOLauncher_Styles/animate.css')
        link(rel='stylesheet', href='./FSOLauncher_Styles/reset.css')
        link(rel='stylesheet', href='./FSOLauncher.css')
        link(rel='stylesheet', href='./FSOLauncher_Styles/responsive.css')
        link(rel='stylesheet', href='./FSOLauncher_Styles/font-awesome.min.css')
        link(rel='stylesheet', href='./FSOLauncher_Styles/material-icons.css')
        link(rel='stylesheet', href='./FSOLauncher_Styles/FSOLauncher_Themes/turbo.css')
        link(rel='stylesheet', href='./FSOLauncher_Styles/FSOLauncher_Themes/dark.css')
        link(rel='stylesheet', href='./FSOLauncher_Styles/FSOLauncher_Themes/halloween.css')
        link(rel='stylesheet', href='./FSOLauncher_Styles/FSOLauncher_Themes/simitone.css')
    body(rmstr=READ_MORE, rss=RSS_URL)
        #launcher.not-installed
            .hint.arrow-left(hint-page='home', style='top:215px;left:255px')
                h1 #{TOOLTIP_TITLE_1}
                span #{TOOLTIP_DESCR_1}
            #debug
                #no-internet-notice
                    i.material-icons(style='margin-top:-5px') wifi_off
                    |  #{INTERNET_TOASTT}
                //<button onclick="localStorage.clear()">Clear Local Storage</button>
            #overlay
            ul#sidebar
                // class="animated slideInLeft"
                li#logo
                    // class="animated slideInDown"
                    div
                div#simitone-gradient
                button.launch #{PLAY}
                //<div id="ponline">20 people playing</div>
                li.active(page-trigger='home')
                    i.material-icons.left home
                    |  #{HOME}
                li(page-trigger='installer')
                    i.material-icons.left widgets
                    |  #{INSTALLER}
                li(page-trigger='downloads')
                    i.material-icons.left get_app
                    |  #{DOWNLOADS}
                li(page-trigger='settings')
                    i.material-icons.left settings
                    |  #{SETTINGS}
                li(page-trigger='notifications')
                    i.material-icons.left notifications_none
                    |  NOTIFICATIONS
                //li(page-trigger='help')
                    i.material-icons.left help_outline
                    |  HELP
                // <li page-trigger="repair"><i class="material-icons left">build</i> REPAIR</li>

                div.bottom
                    li(page-trigger='simitone')
                        i.material-icons.left.simitone-icon settings
                        |  SIMITONE
                    li(page-trigger='about')
                        i.material-icons.left help_outline
                        |  #{ABOUT}
            #content
                //
                  <div id="exit">
                  &times;
                  </div>
                #home-page.page(style='display:none')
                    h1.jumbotron
                        #social-icons
                            //
                              <i class="fa fa-wordpress" aria-hidden="true"></i>
                              <i class="fa fa-twitter" aria-hidden="true"></i>
                              <i class="fa fa-facebook" aria-hidden="true"></i>
                        span #{HOME}
                        small #{HOME_DESCR}
                    .page-content(style='position:relative')
                        #rss-loading(style='font-size:20px;margin-top:20px;display:block;text-align:center')
                            i.fa.fa-hourglass-half.fa-spin(style='margin-bottom:15px')
                            br
                            |  #{RETICULATING}
                        #rss
                            .alt-content
                                i.material-icons(style='font-size:28px') wifi_off
                                br
                                | #{INTERNET_REQ}
                            #rss-root
                        #did-you-know(style='display:none')
                            a.twitter-timeline(style='text-decoration:none;' data-height='500', data-theme='light', href=TW_URL) @FreeSOGame on Twitter
                            //a.twitter-timeline.light(style='text-decoration:none;' data-height='500', data-theme='light', data-chrome='transparent', href=TW_URL) @FreeSOGame on Twitter
                            script#tw(src='https://platform.twitter.com/widgets.js', charset='utf-8')
                #installer-page.page(style='/**background-image:url(city.jpg); **/display:none')
                    .hint.arrow-left(hint-page='installer', style='top:110px;left:375px')
                        h1 3D Remesh Package!
                        span After you've installed FreeSO, download this remesh package to make 3D Mode even better.
                    h1.jumbotron
                        button#full-install-button.turbo-transparent(style='margin-top:-10px;float:right')
                            i.material-icons.left(style='margin-top:-2px') get_app
                            |  #{FULL_INSTALL_BTN}
                        span #{INSTALLER}
                        small #{INSTALLER_DESCR}
                    .page-content
                        #full-install(style='padding:30px')
                            #tip
                                <i class="material-icons">info_outline</i>
                                h1 #{DYK}
                                span#tip-text(style='text-align:left') #{TIP1}
                            .bottom
                                h1#full-install-title Downloading FreeSO...
                                p#full-install-text1 Please wait while we install FreeSO for the first time.
                                .loading
                                    #full-install-progress.progress
                                p#full-install-text2.small Reticulating splines... 20% @ 1MB/s
                        #downloads
                            .hint.arrow-top(hint-page='installer', style='top:0px;right:60px')
                                h1 #{TOOLTIP_TITLE_2}
                                span #{TOOLTIP_DESCR_2}
                            div.block
                                .item(install='RMS', style='border-top:0;background-image:url(FSOLauncher_Images/volcanic.png); background-color:#fff; background-size:30%;background-position:center center;background-repeat:no-repeat;')
                                    .new(style='top:50px;height:50px;left:30px;padding:6px;padding-left:8px;padding-right:8px;border-radius:8px;font-size:14px;display:none;position:absolute;') <i style="vertical-align:middle;" class="material-icons">new_releases</i> RECENTLY&nbsp;UPDATED
                                    .tag
                                        h1 Remesh Package
                                        span Improved 3D visual quality for FreeSO and Simitone
                                        br
                                        small(id='remeshinfo', style='font-size:14px;color:rgba(0,0,0,0.5);margin-top:5px;display:block;overflow:hidden') <i style="vertica-align:middle;float:left;margin-right:5px" class="material-icons">access_time</i> <span style="line-height:25px">Unknown</span>
                            div
                                .item(install='FSO', style='background:url(FSOLauncher_Images/banner.jpg) #fff; background-position:center center; background-size:80%;background-repeat:no-repeat;')
                                    //.hint.arrow-left(hint-page='installer', style='top:130px;right:25px')
                                        h1 ALREADY HAVE FreeSO?
                                        span
                                            | Click here and choose your installation path. It will detect if it's installed there.

                                    .tag
                                        h1 #{INSTALLER_FSO_TITLE}
                                        span #{INSTALLER_FSO_DESCR}
                                        .tick.installed
                                            i.material-icons done                                        

                            div
                                .item(install='TSO', style='background:url(FSOLauncher_Images/tsologo.png) #fff; background-position:center center;background-size:80%;background-repeat:no-repeat;')
                                    .tag(style='z-index:1')
                                        h1 #{INSTALLER_TSO_TITLE}
                                        span #{INSTALLER_TSO_DESCR}
                                        .tick.installed
                                            i.material-icons done                                             
                            div
                                .item(install='OpenAL', style='background:url(FSOLauncher_Images/openal.png) #fff; background-position:center center; background-size:80%;background-repeat:no-repeat;')
                                    .tag
                                        h1 #{INSTALLER_OAL_TITLE}
                                        span #{INSTALLER_OAL_DESCR}
                                        .tick.installed
                                            i.material-icons done     
                            div
                                .item(install='NET', style='background:url(FSOLauncher_Images/netframework.png) #fff; background-position:center center; background-size:80%;background-repeat:no-repeat;')
                                    .tag
                                        h1 #{INSTALLER_NET_TITLE}
                                        span #{INSTALLER_NET_DESCR}
                                        .tick.installed
                                            i.material-icons done     
                #settings-page.page(style='display:none')
                    h1.jumbotron
                        span #{SETTINGS}
                        small #{SETTINGS_DESCR}
                    .page-content
                        .form
                            h1 #{SETTINGS_LAUNCHER_H1}
                            //div
                                span #{SETTINGS_DN}
                                select(option-id='Launcher.DesktopNotifications')
                                    option(value='1') #{SETTINGS_ENABLED}
                                    option(value='0') #{SETTINGS_DISABLED}
                                small #{SETTINGS_DN_HINT}
                            div
                                span #{SETTINGS_DL}
                                select(option-id='Launcher.DirectLaunch')
                                    option(value='0') #{SETTINGS_DISABLED}
                                    option(value='1') #{SETTINGS_ENABLED}
                                small
                                    | #{SETTINGS_DL_HINT}
                            div
                                span #{SETTINGS_THEME}
                                select(option-id='Launcher.Theme')
                                    //option(value='halloween') Halloween
                                    option(value='simitone') Simitone
                                    option(value='open_beta') Open Beta
                                    option(value='turbo') Neon
                                    //<option value="dark">Onyx</option>
                                small #{SETTINGS_THEME_HINT}
                            div
                                span #{AFTER_X}
                                select(option-id='Launcher.Persistence')
                                    option(value='1') #{STAY_TRAY}
                                    option(value='0') #{EXIT_LAUNCHER}
                                small #{AFTER_X_HINT}
                        .form
                            h1 #{SETTINGS_GAME_H1}
                            div
                                span #{SETTINGS_GM}
                                select(option-id='Game.GraphicsMode')
                                    option(value='ogl') OpenGL
                                    option(value='dx') DirectX
                                    option(value='sw') Software
                                small
                                    | #{SETTINGS_GM_HINT} Applies to FreeSO and Simitone.
                            div
                                span #{TD_MODE}
                                select(option-id='Game.3DMode')
                                    option(value='0') #{SETTINGS_DISABLED}
                                    option(value='1') #{SETTINGS_ENABLED}
                                small
                                    | #{TD_MODE_HINT} Applies to FreeSO and Simitone.
                            div
                                span #{SETTINGS_LANG}
                                select(option-id='Game.Language')
                                    option(value='en') English
                                    option(value='es') Español
                                    //option(value='pt') Português
                                    option(value='it') Italiano
                                small #{SETTINGS_LANG_HINT}
                        div(style='clear:both')
                        .form
                            h1 Simitone Settings
                            div
                                span Anti-Aliasing
                                select(option-id='Game.SimitoneAA')
                                    option(value='0') Disabled
                                    option(value='1') Enabled
                                small Enables anti-aliasing for in-game objects and structures.
                            //div.notice(style='border-radius:6px;font-size:14px;')
                                span(style='color:#fff') More languages coming soon...
                            //div
                                span #{SETTINGS_TTS}
                                select(option-id='Game.TTS')
                                    option(value='0') #{SETTINGS_DISABLED}
                                    option(value='1') #{SETTINGS_ENABLED}
                                small
                                    | #{SETTINGS_TTS_HINT}
                //#help-page.page(style='display:none')
                    h1.jumbotron
                        span HELP
                        small Oh no! What do I do?
                    .page-content
                        p Coming soon...
                #downloads-page.page(style='display:none')
                    h1.jumbotron
                        span #{DOWNLOADS}
                        small #{DOWNLOADS_DESCR}
                    .page-content
                        .alt-content
                            i.material-icons(style='font-size:28px;margin-bottom:10px') scatter_plot
                            br
                            span(style='color:rgba(0,0,0,0.4)') #{DOWNLOADS_EMPTY}
                            //br
                            //img(src='FSOLauncher_Images/fame.png')
                #notifications-page.page(style='display:none')
                    h1.jumbotron
                        span #{NOTIFICATIONS}
                        small #{NOTIFICATIONS_DESC}
                    .page-content
                        .alt-content
                            i.material-icons(style='font-size:28px;margin-bottom:10px') scatter_plot
                            br
                            span(style='color:rgba(0,0,0,0.4)') #{NOTIFICATIONS_NONE}
                #about-page.page(style='display:none')
                    h1.jumbotron
                        span #{ABOUT}
                        small #{ABOUT_DESCR}
                    .page-content
                        .FAQ(style='max-width:600px;float:left')
                            block faq
                                strong #{ABOUT_LAUNCHER_VERSION}
                                p FreeSO Launcher #{LVERSION}
                                button#update-check(style='margin-bottom:20px')
                                    i.material-icons.left update
                                    |  #{ABOUT_CHECK}
                                .alt-content-small(style='margin-bottom:20px; color:#C0392B')
                                    i.material-icons(style='float:left;margin-right:10px;margin-top:-3px') wifi_off
                                    |  #{ABOUT_INTERNET}
                            br
                            block faq
                                strong #{ABOUT_FAQ_1_H1}
                                p
                                    | #{ABOUT_FAQ_1_TEXT}
                            block faq
                                strong #{ABOUT_FAQ_2_H1}
                                p
                                    | #{ABOUT_FAQ_2_TEXT}
                            block faq
                                strong #{ABOUT_FAQ_3_H1}
                                p #{ABOUT_FAQ_3_TEXT}

                            block faq
                                strong #{ABOUT_FAQ_4_H1}
                                p #{ABOUT_FAQ_4_TEXT}

                            block faq
                                strong #{ABOUT_FAQ_5_H1}
                                p !{ABOUT_FAQ_5_TEXT}.
                #simitone-page.page(style='display:none')
                    h1.jumbotron
                        span PLAY SIMITONE
                        small The Sims 1 like you've never seen it before.
                    .page-content(style='padding:20px;')
                        div#simitone-teaser
                            button(id='simitone-install-button') DOWNLOAD & INSTALL
                            button(id='simitone-play-button') LAUNCH SIMITONE
                        div.simitone-column
                            h1 What's Simitone?
                            p <strong class="gradient">Simitone</strong> is an alternative C# Windows Frontend for The Sims 1, based off of FreeSO, which requires a legitimate copy of <strong class="gradient">The Sims Complete Collection</strong> in order to work.
                        div.simitone-column.simitone-requirements
                            h1 Game Requirements
                            ul 
                                li#ts1cc-indicator
                                    | <i class="material-icons left"></i> The Sims Complete Collection
                                li#simitone-indicator
                                    | <i class="material-icons left"></i> Simitone for Windows 
                                    br 
                                    div#simitone-should-update
                                        | Update Simitone to <span id="simitone-update-version">v8.0.9</span>
                        div#simitone-ts1cc-error.simitone-box.simitone-error
                            h2 The Sims Complete Collection is not installed!
                            p 
                                | It looks like you don't have <strong>The Sims Complete Colllection</strong> installed, which is needed for Simitone to work.
                                | Please install a legitimate copy of <strong>The Sims Complete Collection</strong> on your computer.
                        div(style='clear:both')
                        div.simitone-column
                            div.simitone-image(style='background-image:url(./FSOLauncher_Images/simitone_teaser.png);')
                        div.simitone-column
                            h1 Play The Sims 1 in 3D, 60+ FPS and High Definition
                            p 
                                | Experience the Sims game you already know and love in a whole new way, optimized for modern PCs.
                                | Choose to play in <strong class="gradient">3D</strong> or the more familiar 2D, and enjoy smooth gameplay at <strong class="gradient">high resolution and refresh rates</strong>.
                        div(style='clear:both')
                        div.simitone-column
                            div.simitone-image(style='background-image:url(./FSOLauncher_Images/simitone_3.png);')
                        div.simitone-column
                            h1 Improved Custom UI for High Resolution support
                            p 
                                | Simitone features a <strong class="gradient">custom user interface</strong> that works at modern resolutions and delivers a fresh look and feel to the game. Work is being made towards a more desktop oriented interface.
        script(src='socket.io.js')
        script(src='client.js')
