doctype html
html(class=PLATFORM + ' ' + LANGCODE)
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        link(rel='stylesheet', href='./fsolauncher_styles/animate.css')
        link(rel='stylesheet', href='./fsolauncher_styles/reset.css')
        link(rel='stylesheet', href='./fsolauncher.css')
        link(rel='stylesheet', href='./fsolauncher_styles/responsive.css')
        link(rel='stylesheet', href='./fsolauncher_styles/font-awesome.min.css')
        link(rel='stylesheet', href='./fsolauncher_styles/material-icons.css')
        link(rel='stylesheet', href='./fsolauncher_styles/fsolauncher_themes/turbo.css')
        link(rel='stylesheet', href='./fsolauncher_styles/fsolauncher_themes/dark.css')
        link(rel='stylesheet', href='./fsolauncher_styles/fsolauncher_themes/halloween.css')
        link(rel='stylesheet', href='./fsolauncher_styles/fsolauncher_themes/simitone.css')
        link(rel='stylesheet', href='./fsolauncher_styles/fsolauncher_themes/summer2021.css')
    body(readMoreString=READ_MORE, rss=RSS_URL, wsUrl=WS_URL, wsPort=WS_PORT, twUrl=TW_URL)
        #launcher.not-installed
            .hint.arrow-left(hint-page='home', style='top:245px;left:255px')
                h1 #{TOOLTIP_TITLE_1}
                span #{TOOLTIP_DESCR_1}
            #debug
                #no-internet-notice
                    i.material-icons(style='margin-top:-5px') wifi_off
                    |  #{INTERNET_TOASTT}
            #overlay
            ul#sidebar
                li#logo
                    div
                div#simitone-gradient
                button.launch #{PLAY}
                #simtime-container(title=INGAME_TIME)
                    i.material-icons access_time
                    #simtime 00:00 AM
                li.active(page-trigger='home')
                    i.material-icons.left home
                    |  #{HOME}
                li(page-trigger='installer')
                    i.material-icons.left widgets
                    |  #{INSTALLER}
                li(page-trigger='downloads')
                    i.material-icons.left get_app
                    |  #{DOWNLOADS}
                li(page-trigger='settings')
                    i.material-icons.left settings
                    |  #{SETTINGS}
                li(page-trigger='notifications')
                    i.material-icons.left notifications_none
                    |  #{NOTIFICATIONS}

                div.bottom
                    li(page-trigger='simitone')
                        svg.simitone-icon(version='1.0', xmlns='http://www.w3.org/2000/svg', width='109.000000pt', height='149.000000pt', viewBox='0 0 109.000000 149.000000', preserveAspectRatio='xMidYMid meet')
                            metadata
                                | Created by potrace 1.16, written by Peter Selinger 2001-2019
                            g(transform='translate(0.000000,149.000000) scale(0.100000,-0.100000)', fill='#000000', stroke='none')
                                path(d='M497 1452 c-55 -84 -82 -219 -73 -375 6 -102 12 -143 26 -162 5 -5\
                                18 -48 31 -93 23 -85 22 -104 -5 -202 -3 -8 -5 -18 -5 -21 -1 -4 -36 -8 -79\
                                -10 -124 -6 -211 -57 -314 -186 -21 -27 -43 -65 -44 -78 0 -5 -9 -36 -18 -68\
                                -11 -36 -17 -80 -14 -115 2 -48 8 -61 33 -84 43 -39 105 -53 235 -53 109 0\
                                119 2 182 32 92 44 160 110 204 199 32 65 37 82 41 176 8 151 -15 269 -99 523\
                                -67 199 -71 215 -72 305 -1 81 2 101 22 138 13 24 25 42 27 40 1 -1 5 -21 8\
                                -43 9 -63 29 -149 37 -160 4 -5 13 -38 20 -73 l13 -62 81 -40 c96 -46 337\
                                -150 348 -150 4 0 8 9 8 19 0 30 -68 320 -88 376 l-18 49 -179 78 c-145 62\
                                -190 77 -231 78 -49 0 -53 -2 -77 -38z')
                        |  SIMITONE
                    li(page-trigger='about')
                        i.material-icons.left help_outline
                        |  #{ABOUT}
            #content
                #home-page.page(style='display:none')
                    h1.jumbotron
                        span #{HOME}
                        small #{HOME_DESCR}
                    .page-content(style='position:relative')
                        #rss-loading(style='font-size:20px;margin-top:20px;display:block;text-align:center')
                            i.fa.fa-hourglass-half.fa-spin(style='margin-bottom:15px')
                            br
                            |  #{RETICULATING}
                        #rss
                            .alt-content
                                i.material-icons(style='font-size:28px') wifi_off
                                br
                                | #{INTERNET_REQ}
                            #rss-root
                        #did-you-know(style='display:none')
                #installer-page.page(style='display:none;background-color:#fff')
                    .hint.arrow-left(hint-page='installer', style='top:110px;left:375px')
                        h1 #{TOOLTIP_REMESH_TITLE}
                        span #{TOOLTIP_REMESH_DESCR}
                    h1.jumbotron
                        button#full-install-button.turbo-transparent(style='margin-top:-10px;float:right')
                            i.material-icons.left(style='margin-top:-2px') get_app
                            |  #{FULL_INSTALL_BTN}
                        span #{INSTALLER}
                        small #{INSTALLER_DESCR}
                    .page-content
                        #full-install(style='padding:30px')
                            #tip
                                <i class="material-icons">info_outline</i>
                                h1 #{DYK}
                                span#tip-text(style='text-align:left') #{TIP1}
                            .bottom
                                h1#full-install-title Downloading FreeSO...
                                p#full-install-text1 Please wait while we install FreeSO for the first time.
                                .loading
                                    #full-install-progress.progress
                                p#full-install-text2.small Reticulating splines... 20% @ 1MB/s
                        #downloads
                            .hint.arrow-top(hint-page='installer', style='top:0px;right:60px')
                                h1 #{TOOLTIP_TITLE_2}
                                span #{TOOLTIP_DESCR_2}
                            span#detector-response
                                p #{AUTODETECT_TEXT} (<strong id="detector-response-path"></strong>). 
                                span#detector-confirm.button(style='float:right') #{AUTODETECT_BTN}
                            div.block
                                .item(install='RMS', style='border-top:0;background-image:url(fsolauncher_images/volcanic.png); background-color:#fff; background-size:30%;background-position:center center;background-repeat:no-repeat;')
                                    .new <i style="vertical-align:middle;" class="material-icons">new_releases</i> #{INSTALLER_RP_ALERT}
                                    .stag.orange #{INSTALLER_OPTIONAL}
                                    .tag
                                        h1 #{INSTALLER_RP_TITLE}
                                        span #{INSTALLER_RP_DESCR}
                                        br
                                        small(id='remeshinfo', style='font-size:14px;color:rgba(0,0,0,0.5);margin-top:5px;display:block;overflow:hidden') <i style="vertica-align:middle;float:left;margin-right:5px" class="material-icons">access_time</i> <span style="line-height:25px">#{UNKNOWN}</span>
                            div
                                .item(install='FSO', style='background:url(fsolauncher_images/banner.jpg) #fff; background-position:center center; background-size:80%;background-repeat:no-repeat;')
                                    .tag
                                        h1 #{INSTALLER_FSO_TITLE}
                                        span #{INSTALLER_FSO_DESCR}
                                        .tick.installed
                                            i.material-icons done                                        

                            div
                                .item(install='TSO', style='background:url(fsolauncher_images/tsologo.png) #fff; background-position:center center;background-size:80%;background-repeat:no-repeat;')
                                    .tag(style='z-index:1')
                                        h1 #{INSTALLER_TSO_TITLE}
                                        span #{INSTALLER_TSO_DESCR}
                                        .tick.installed
                                            i.material-icons done                                             
                            div.win32-only
                                .item(install='OpenAL', style='background:url(fsolauncher_images/openal.png) #fff; background-position:center center; background-size:80%;background-repeat:no-repeat;')
                                    .tag
                                        h1 #{INSTALLER_OAL_TITLE}
                                        span #{INSTALLER_OAL_DESCR}
                                        .tick.installed
                                            i.material-icons done     
                            div.win32-only
                                .item(install='NET', style='background:url(fsolauncher_images/netframework.png) #fff; background-position:center center; background-size:80%;background-repeat:no-repeat;')
                                    .tag
                                        h1 #{INSTALLER_NET_TITLE}
                                        span #{INSTALLER_NET_DESCR}
                                        .tick.installed
                                            i.material-icons done     
                            div.darwin-only
                                .item(install='Mono', style='border-bottom:0;background-image:url(fsolauncher_images/mono.png); background-color:#fff; background-size:80%;background-position:center center;background-repeat:no-repeat;')
                                    .tag
                                        h1 #{INSTALLER_MONO_TITLE}
                                        span #{INSTALLER_MONO_DESCR}
                                        .tick.installed
                                            i.material-icons done  
                            div.darwin-only
                                .item(install='SDL', style='border-bottom: 1px solid #f0f0f0;background-image:url(fsolauncher_images/sdl.png); background-color:#fff; background-size:80%;background-position:center center;background-repeat:no-repeat;')
                                    .tag
                                        h1 #{INSTALLER_SDL_TITLE}
                                        span #{INSTALLER_SDL_DESCR}
                                        .tick.installed
                                            i.material-icons done  
                            div.darwin-only
                                .item(install='MacExtras', style='border-bottom:0;background-image:url(fsolauncher_images/macos.png); background-color:#fff; background-size:60%;background-position:center center;background-repeat:no-repeat;')
                                    .stag.orange #{INSTALLER_OPTIONAL}
                                    .tag
                                        h1 #{INSTALLER_MACEXTRAS_TITLE}
                                        span #{INSTALLER_MACEXTRAS_DESCR}
                                        .tick.installed
                                            i.material-icons done  
                #settings-page.page(style='display:none')
                    h1.jumbotron
                        span #{SETTINGS}
                        small #{SETTINGS_DESCR}
                    .page-content
                        .form
                            h1 #{SETTINGS_LAUNCHER_H1}
                            div
                                span #{SETTINGS_DL}
                                select(option-id='Launcher.DirectLaunch')
                                    option(value='0') #{SETTINGS_DISABLED}
                                    option(value='1') #{SETTINGS_ENABLED}
                                small
                                    | #{SETTINGS_DL_HINT}
                            div
                                span #{SETTINGS_THEME}
                                select(option-id='Launcher.Theme')
                                    option(value='simitone') Simitone
                                    option(value='open_beta') Open Beta
                                    option(value='dark') Open Beta (Dark)
                                    option(value='turbo') Neon
                                    option(value='summer2021') Sugar Storm
                                small #{SETTINGS_THEME_HINT}
                            div
                                span #{AFTER_X}
                                select(option-id='Launcher.Persistence')
                                    option(value='1') #{STAY_TRAY}
                                    option(value='0') #{EXIT_LAUNCHER}
                                small #{AFTER_X_HINT}
                            div
                                span #{SETTINGS_LAUNCHER_LANGUAGE}
                                select(option-id='Launcher.Language')
                                    option(value='default') #{SYSTEM_DEFAULT}
                                    option(value='en') English
                                    option(value='es') Español
                                    option(value='pt') Português Brasileiro
                                    option(value='it') Italiano
                                    option(value='ru') русский
                                    option(value='pl') Polskie
                                    option(value='nl') Nederlands
                                small #{SETTINGS_LAUNCHER_LANGUAGE_HINT}
                        .form
                            h1 #{SETTINGS_GAME_H1}
                            div
                                span #{SETTINGS_GM}
                                select(option-id='Game.GraphicsMode')
                                    option(value='ogl') OpenGL
                                    option.win32-only(value='dx') DirectX
                                    option.win32-only(value='sw') Software
                                small
                                    | #{SETTINGS_GM_HINT} #{SETTINGS_APPLIES_TO}
                            div
                                span #{TD_MODE}
                                select(option-id='Game.3DMode')
                                    option(value='0') #{SETTINGS_DISABLED}
                                    option(value='1') #{SETTINGS_ENABLED}
                                small
                                    | #{TD_MODE_HINT} #{SETTINGS_APPLIES_TO}
                            div
                                span #{SETTINGS_LANG}
                                select(option-id='Game.Language')
                                    option(value='en') English
                                    option(value='es') Español
                                    option(value='it') Italiano
                                small #{SETTINGS_LANG_HINT}
                        div(style='clear:both')
                        .form
                            h1 #{SETTINGS_SIMITONE_H1}
                            div
                                span #{SETTINGS_AA}
                                select(option-id='Game.SimitoneAA')
                                    option(value='0') #{SETTINGS_DISABLED}
                                    option(value='1') #{SETTINGS_ENABLED}
                                small #{SETTINGS_AA_HINT}

                #downloads-page.page(style='display:none')
                    h1.jumbotron
                        span #{DOWNLOADS}
                        small #{DOWNLOADS_DESCR}
                    .page-content
                        .alt-content
                            i.material-icons(style='font-size:28px;margin-bottom:10px') get_app
                            br
                            span(style='color:rgba(0,0,0,0.4)') #{DOWNLOADS_EMPTY}
                #notifications-page.page(style='display:none')
                    h1.jumbotron
                        span #{NOTIFICATIONS}
                        small #{NOTIFICATIONS_DESC}
                    .page-content
                        .alt-content
                            i.material-icons(style='font-size:28px;margin-bottom:10px') notifications_none
                            br
                            span(style='color:rgba(0,0,0,0.4)') #{NOTIFICATIONS_NONE}
                #about-page.page(style='display:none')
                    h1.jumbotron
                        span #{ABOUT}
                        small #{ABOUT_DESCR}
                    .page-content
                        .FAQ(style='max-width:600px;float:left')
                            block faq
                                strong #{ABOUT_LAUNCHER_VERSION}
                                p FreeSO Launcher #{LVERSION}
                                    <br> Electron <span id="electron-version"></span>
                                button#update-check(style='margin-bottom:20px')
                                    i.material-icons.left update
                                    |  #{ABOUT_CHECK}
                                .alt-content-small(style='margin-bottom:20px; color:#C0392B')
                                    i.material-icons(style='float:left;margin-right:10px;margin-top:-3px') wifi_off
                                    |  #{ABOUT_INTERNET}
                            br
                            block faq
                                strong #{ABOUT_FAQ_1_H1}
                                p
                                    | #{ABOUT_FAQ_1_TEXT}
                            block faq
                                strong #{ABOUT_FAQ_2_H1}
                                p
                                    | #{ABOUT_FAQ_2_TEXT}
                            block faq
                                strong #{ABOUT_FAQ_3_H1}
                                p #{ABOUT_FAQ_3_TEXT}

                            block.win32-only
                                strong #{ABOUT_FAQ_4_H1}
                                p #{ABOUT_FAQ_4_TEXT}

                            block faq
                                strong #{ABOUT_FAQ_5_H1}
                                p !{ABOUT_FAQ_5_TEXT}.
                                p(style='margin-top:-20px') !{ABOUT_FAQ_GITHUB}
                #simitone-page.page(style='display:none')
                    h1.jumbotron
                        span #{SIMITONE_H1}
                        small #{SIMITONE_DESCR}
                    .page-content(style='padding:20px;')
                        div#simitone-teaser
                            button(id='simitone-install-button') #{SIMITONE_INSTALL}
                            button(id='simitone-play-button') #{SIMITONE_LAUNCH}
                        div.simitone-column
                            h1 #{SIMITONE_COL1_H1}
                            p !{SIMITONE_COL1_DESCR}
                        div.simitone-column.simitone-requirements
                            h1 #{SIMITONE_COL2_H1}
                            ul 
                                li#ts1cc-indicator
                                    | <i class="material-icons left"></i> !{SIMITONE_REQ_TSCC}
                                li#simitone-indicator
                                    | <i class="material-icons left"></i> !{SIMITONE_REQ_ST} <span id="simitone-ver"></span>
                                    br 
                                    div#simitone-should-update
                                        | !{SIMITONE_UPDATE} <span id="simitone-update-version">v8.0.9</span>
                        div#simitone-ts1cc-error.simitone-box.simitone-error
                            h2 #{SIMITONE_MISSING_TSCC_H1}
                            p 
                                | !{SIMITONE_MISSING_TSCC_DESCR} 
                                span.darwin-only <br />!{SIMITONE_MISSING_TSCC_DESCR_MAC}
                        div(style='clear:both')
                        div.simitone-column
                            div.simitone-image(style='background-image:url(./fsolauncher_images/simitone_teaser.png);')
                        div.simitone-column
                            h1 #{SIMITONE_FEATURES_1_H1}
                            p !{SIMITONE_FEATURES_1_DESCR}
                        div(style='clear:both')
                        div.simitone-column
                            div.simitone-image(style='background-image:url(./fsolauncher_images/simitone_3.png);')
                        div.simitone-column
                            h1 #{SIMITONE_FEATURES_2_H1}
                            p !{SIMITONE_FEATURES_2_DESCR}
        script(src='vendor/socket.io.min.js')
        script(src='vendor/howler.min.js')
        script(src='vendor/purify.min.js')
        script(src='client.js')
